@import './Variables.scss';

.section-carte {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .carte {
        .leaflet-container {
            width: 100%;
            height: 50vh;
            border-radius: 10px;
          }

    }
}


.section-bienvenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.buttonBox {
    background-color: #eb600c !important;
    display: flex;
    gap: 10px;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    span {
        font-weight: 700;
    }
    .info-co {
        display: flex; 
        align-items: center; 
        gap: 8px;
    }
}

.leaflet-popup-content{
    width: fit-content;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pulsating-circle {
    position: relative;
    width: 10px;
    height: 10px;
    
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: greenyellow;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(88, 172, 88);
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }