@import './Variables.scss';

@font-face {
  font-family: titre;
  src: url('../assets/fonts/Alfarn.ttf');
}

@font-face {
  font-family: paragraphe;
  src: url('../assets/fonts/Aftetir-Regular.ttf');
}


body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  font-family: titre;
  color: $bleue;
}

p {
  margin: 0;
  font-family: paragraphe;
  color: $texte;
  text-align: justify;
}

.container {
  background-color: $blanc;
  border-radius: 25px 25px 0 0;
  padding: 15px 15px 80px 15px;
  position: relative;
  z-index: 1;
  margin-top: -20px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MuiBottomNavigation-root {
  box-shadow: $shadow;
}