.logo {
  width: 100px;
}
.logo .cls-1 {
  fill: #29367d;
}
.logo .cls-2 {
  fill: #ee7823;
}
.logo .cls-3 {
  fill: #010101;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.header div .bande1 {
  background-color: #ef781a;
  height: 5px;
  width: 100vw;
}
.header div .bande2 {
  background-color: #28337e;
  height: 5px;
  width: 100vw;
}/*# sourceMappingURL=Header.css.map */