@import './Variables.scss';

.logo {
  .cls-1{fill:#29367d;}
  .cls-2{fill:#ee7823;}
  .cls-3{fill:#010101;}

  width: 80px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url('../assets/img/photo_banniere.png');
  background-position-x: -16rem;
  background-position-y: center;
  background-size: 50rem;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  .profil {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  div {
    .bande1 {
      background-color: $orange;
      height: 5px;
      width: 100vw;
    }
    .bande2 {
      background-color: $bleue;
      height: 5px;
      width: 100vw;
    }

  }
}
